<%= form_with(model: repository, class: "contents") do |form| %>
  <div class="my-5">
    <%= component 'label', form: form, name: :name %>
    <%= component 'input', form: form, type: :text_field, name: :name, invalid: repository.errors[:name].any? %>
    <%= component 'input_error', errors: repository.errors[:name] %>
  </div>

  <div class="inline">
    <%= component 'submit', form: form, content: 'Save repository' %>
  </div>
<% end %>
