<% content_for :sidebar do %>
  <%= render 'documents/documents_nav', repository: @repository, documents: @repository.root_documents %>
<% end %>

<%= component 'page_header' do |component| %>
  <div class="flex items-center space-x-2">
    <%= component 'icon', icon: @repository.public? ? 'lock-open' : 'lock-closed' %>
    <span><%= @repository.name %></span>
  </div>
  <% component.with_action { component 'button', content: 'Back to repositories', href: repositories_path } %>
  <% component.with_action { component 'button', content: 'Edit', href: edit_repository_path(@repository) } %>
  <% component.with_action { component 'button', content: 'Delete', href: repository_path(@repository), method: :delete } %>
  <% component.with_action { component 'button', content: 'Generate API Token', href: repository_api_tokens_path(@repository), method: :post } %>
<% end %>

<%= render @repository %>

<h3 class="text-xl mb-2">API Tokens</h3>
<table class="w-full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th>Created</th>
      <th>Last Used</th>
      <th>Usage Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @repository.api_tokens %>
  </tbody>
</table>
