<h2 class="text-3xl mb-5">Sign up</h2>

<%= component 'card' do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= component 'label', form: f, name: :email %>
      <%= component 'input', form: f, type: :email_field, name: :email, options: { autofocus: true, autocomplete: "email" } %>
    </div>

    <div class="mt-5">
      <%= component 'label', form: f, name: :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= component 'input', form: f, type: :password_field, name: :password, options: { autocomplete: "new-password" } %>
    </div>

    <div class="mt-5">
      <%= component 'label', form: f, name: :password_confirmation %>
      <%= component 'input', form: f, type: :password_field, name: :password_confirmation, options: { autocomplete: "new-password" } %>
    </div>

    <div class="mt-5">
      <%= component 'button', type: 'submit', form: f, content: 'Sign up', extra_classes: 'w-full' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>

