<h2 class="text-3xl mb-5">Log in</h2>

<%= component 'card' do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= component 'label', form: f, name: :email %>
      <%= component 'input', form: f, type: :email_field, name: :email, options: { autofocus: true, autocomplete: "email" } %>
    </div>

    <div class="mt-5">
      <%= component 'label', form: f, name: :password %>
      <%= component 'input', form: f, type: :password_field, name: :password, options: { autocomplete: "current-password" } %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= component 'input', form: f, type: :check_box, name: :remember_me %>
        <%= component 'label', form: f, name: :remember_me, inline: true %>
      </div>
    <% end %>

    <div class="mt-5">
      <%= component 'button', type: 'submit', form: f, content: 'Log in', extra_classes: 'w-full' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
