<!DOCTYPE html>
<html>
  <head>
    <title>Docs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen bg-gray-50 dark:bg-slate-700 dark:text-white flex">
    <%# https://flowbite.com/docs/components/sidebar/ %>
    <aside class="border w-64 py-5 px-2 bg-gray-100 dark:bg-slate-800 dark:border-slate-900">
      <h1 class="text-2xl text-center">
        <%= link_to 'Docs', public_root_path %>
      </h1>

      <%= yield :sidebar %>
    </aside>

    <main class="pt-5 px-5 h-screen flex-grow overflow-y-auto">
      <%= component 'flash', type: :notice, content: notice %>
      <%= component 'flash', type: :alert, content: alert %>

      <%= yield %>
    </main>
  </body>
</html>
